{% extends "students/base.html" %}


{% block meta_title %}Список групп{% endblock meta_title %}

{% block title %}Список Групп{% endblock title %}

{% block content %}

    
<!-- start Student listing -->
		{% if groups %}
        <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a href="#">№</a>
                        </th>
                        <th>
                            <a href="#">Группа &uarr;</a>
                        </th>
                        <th>
                            <a href="#">Староста</a>
                        </th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a title="Редактировать" href="{% url "groups_edit" group.id %}">{{ group.name }}</td>
                        <td><a title="Редактировать" href="{% url "students_edit" group.starosta.id %}">{{ group.starosta.name }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle"
                                    type="button" data-toggle="dropdown">Действие<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url "groups_edit" group.id %}">Редактировать</a></li>
                  				    <li><a href="{% url "groups_delete" group.id %}">удалить</a></li
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <!-- End Students Listing -->
                {% else %}
        				<p>Поки немає груп у базі.</p>
        {% endif %}
            <nav>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>
{% endblock content %}










<!-- <!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<title>Cервис учета студентов</title>
	<meta name="description"
		      value="Система учета студентов учебного заведения"/>
	<link rel="stylesheet"
		      href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border: 0px solid blue;}</style>
</head>
<body>
	<div class="container">
		<div class="row" id="header" >
			<div class="col-xs-8">
				<h1>Сервис учета студентов</h1>
			</div>
			Groups Selector
			<div class="col-xs-4" id="group-selector"> <strong>Group:</strong>
				<select>
					<option value="">All students</option>
					<option value="">6-TM,Paniuta Stanislav/2223</option>
					<option value="">6-TK, Tokar Sergiy/2465</option>
					<option value="">6-TM, Kuchma Artem/5532</option>
					<option value="">6-RT, Mazurina Olga/2453</option>
				</select>
			</div>
		</div>
		End Header
		Start SubHeader
		<div class="row",id="sub-header">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation">
						<a href="#">Студенты</a>
					</li>
					<li role="presentation">
						<a href="#">Посещения</a>
					</li>
					<li role="presentation" class="active">
						<a href="#">Группы</a>
					</li>
				</ul>
			</div>
		</div>
		End SubHeader
	
		Start Main Page Content
		<div class="row" id="content-columns">
			<div class="col-xs-12" id="content-column">

			<h2>Группы</h2>
			Add Student Button
			<a class="btn btn-primary" href="#">Добавить группу</a>
			Start Students Listing
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>
							<a href="">№</a>
						</th>
						<th>
							<a href="">Группа &uarr;</a>
						</th>
						<th>
							<a href="">Староста &uarr;</a>
						</th>
						<th>Действия</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>
							<a title="Редактировать" href="#">6-TM</a>
						</td>
						<td>
							<a title="Редактировать" href="#">Paniuta Stanislav</a>
						</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle"
									type="button" data-toggle="dropdown">
									Действие
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Редактировать</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Удалить</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>
							<a title="Редактировать" href="#">6-TK</a>
						</td>
						<td>
							<a title="Редактировать" href="#">Tokar Sergiy</a>
						</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle"
									type="button" data-toggle="dropdown">
									Действие
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Редактировать</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Удалить</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>
							<a title="Редактировать" href="#">6-TД</a>
						</td>
						<td>
							<a title="Редактировать" href="#">Kuchma Artem</a>
						</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle"
									type="button" data-toggle="dropdown">
									Действие
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Редактировать</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">Удалить</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<nav>
  <ul class="pagination">
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">Следующая страница</a></li>
  </ul>
</nav>
		</div>
	</div>
	End Main Page Content
	Start Footer
	<div class="row" id="footer">
		<div class="col-xs-12">&copy;   Сервис учета студентов</div>
	</div>
	End Footer
</div>
Javascripts Section
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html> -->