{% extends "students/base.html" %}


{% block meta_title %}Учет посещений{% endblock meta_title %}
{% block title %}Учет посещений{% endblock title %}

{% block content %}
			<nav>
				<ul class="pager">
				<li class="previous-month"><a href="#">&larr;</a></li>
				<li>Ноябрь</li>
				<li class="next-month"><a href="#">&rarr;</a></li>
				</ul>
			</nav>
			<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
						<th>#</th>
						<th>Студент</th>
						<th>СБ  1</th>
						<th>ВС  2</th>
						<th>ПН  3</th>
						<th>ВТ  4</th>
						<th>СР  5</th>
						<th>ЧТ  6</th>
						<th>ПТ  7</th>
						<th>СБ  8</th>
						<th>ВС  9</th>
						<th>ПН  10</th>
						<th>ВТ  11</th>
						<th>СР  12</th>
						<th>ЧТ  13</th>
						<th>ПТ  14</th>
						<th>СБ  15</th>
						<th>ВС  16</th>
						<th>ПН  17</th>
						<th>ВТ  18</th>
						<th>СР  19</th>
						<th>ЧТ  20</th>
						<th>ПТ  21</th>
						<th>СБ  22</th>
						<th>ВС  23</th>
						<th>ПН  24</th>
						<th>ВТ  25</th>
						<th>СР  26</th>
						<th>ЧТ  27</th>
						<th>ПТ  28</th>
						<th>СБ  29</th>
						<th>ВС  30</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>
							<a title="Редактировать" href="#">Paniuta Stanislav</a></td>		
							<td> <input type="checkbox"></td>		
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
							<td> <input type="checkbox"></td>	
					</tr>
					<tr>
						<td>2</td>
						<td>
							<a title="Редактировать" href="#">Tokar Sergiy</a>
						</td>
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
					</tr>
					<tr>
						<td>3</td>
						<td>
							<a title="Редактировать" href="#">Kuchma Artem</a>
						</td>
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						<td> <input type="checkbox"></td>	
						
					</tr>
				</tbody>
			</table>
				<nav>
					<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<!-- <li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li> -->
						<li><a href="#">&raquo;</a></li>
					</ul>
				</nav>
{% endblock content %}