{% extends "students/base.html" %}


{% block meta_title %}Список групп{% endblock meta_title %}

{% block title %}Список групп{% endblock title %}
{% block content %}
    <a class="btn btn-primary" href="{% url "groups_add" %}">Добавить группу</a>
<!-- start Student listing -->
{% if groups %}
        <table class="table">
                <thead>
                    <tr>
                        <th><a href="#">№</a></th>
                        <th><a href="#">Группа &uarr;</a></th>
                        <th><a href="#">Староста</a></th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "groups_edit" group.id %}">{{ group.name }}</td>
            		    <td><a href="{% url "students_edit" group.starosta.id %}">{{ group.starosta.name }}</td> 
            			<td>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle"
                                    type="button" data-toggle="dropdown">
                                    Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url "groups_edit" group.id %}">Редактировать</a></li>
                                    <li><a href="{% url "groups_delete" group.id %}">Удалить</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <!-- End Students Listing -->
        {% else %}
        <p>Пока нет груп в базе.</p>
        {% endif %}
                <!-- End Students Listing -->
            <nav>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>
{% endblock content %}
